.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 5px 10px 18px #888888;
  max-width: 20rem;
  outline: none;
  padding: $l-size;
  text-align: center;
}

.modal button,
.modal input[type="submit"] {
  font-family: monospace;
  margin-left: 15px;
}

.add_form {
  font-family: monospace;
  margin-bottom: 10px;
  padding: 4px;
}

.modal__error {
  color: red;
}
